In [218]:
import pandas as pd
from random import randrange
from datetime import timedelta
from datetime import datetime
import numpy as np
RNG = np.random.default_rng()

## KOLEJNOŚĆ DODAWANIA DANYCH:
#### COUNTRIES -> LEAGUES -> TEAMS -> PLAYERS -> STADIUMS -> MATCHES -> TEAM_PLAYS_IN_LEAGUE -> TEAM_PLAYS_IN_MATCH

In [219]:
df1 = pd.read_csv('source_csv/2022-2023 Football Player Stats.csv', sep=';', encoding_errors='ignore')
df1 = df1[df1['Player'].str.contains('\?')==False]
df1

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,14,14,...,0.23,3.18,0.45,0.0,0.0,0.00,5.15,0.45,1.29,26.1
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,15,15,...,0.07,0.20,1.33,0.0,0.0,0.00,6.40,1.93,1.07,64.4
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,7,2,...,0.00,0.00,0.00,0.0,0.0,0.00,6.54,0.77,1.54,33.3
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,15,15,...,0.00,0.33,0.67,0.0,0.0,0.07,6.53,0.60,0.47,56.3
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29,1993,10,10,...,0.00,0.22,1.89,0.0,0.0,0.00,5.67,0.22,0.22,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2376,Nadir Zortea,ITA,DF,Atalanta,Serie A,23,1999,8,1,...,0.00,4.29,2.38,0.0,0.0,0.00,6.19,2.38,0.48,83.3
2376,2377,Kurt Zouma,FRA,DF,West Ham,Premier League,28,1994,14,14,...,0.00,0.00,0.15,0.0,0.0,0.00,3.64,2.35,0.30,88.6
2377,2378,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25,1997,10,8,...,0.00,0.25,0.75,0.0,0.0,0.00,3.63,1.50,1.88,44.4
2378,2379,Martn Zubimendi,ESP,MF,Real Sociedad,La Liga,23,1999,14,13,...,0.08,0.08,1.02,0.0,0.0,0.00,5.55,2.58,0.86,75.0
2380,2381,Martin degaard,NOR,MF,Arsenal,Premier League,23,1998,13,13,...,0.00,2.61,0.59,0.0,0.0,0.00,5.46,0.42,0.76,35.7

In [220]:
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return str(start + timedelta(seconds=random_second))[:10]

d1 = datetime.strptime('1/1/1980 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2010 4:50 AM', '%m/%d/%Y %I:%M %p')

In [221]:
players = df1[['Player', 'Rk']].sample(n=500)
players[['name', 'surname']] = players['Player'].str.split(' ', 1, expand=True)
players.rename(columns={'Rk':'player_id'}, inplace=True)
players.drop(columns='Player', inplace=True)
players['birth_date'] = [random_date(d1, d2) for _ in range(players.shape[0])]
players['height'] = [int(RNG.normal(180, 15)) for _ in range(players.shape[0])]
players['weight'] = [int(RNG.normal(85, 15)) for _ in range(players.shape[0])]

C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\878360253.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  players[['name', 'surname']] = players['Player'].str.split(' ', 1, expand=True)

In [222]:
df2 = pd.read_csv('source_csv/countries of the world.csv', sep=',')
countries = df2[['Country']]
countries.rename(columns={'Country':'name'}, inplace=True)
countries['country_id'] = countries.index

C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\3812528511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries.rename(columns={'Country':'name'}, inplace=True)
C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\3812528511.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['country_id'] = countries.index

In [223]:
players['birth_country_id'] = [int(countries['country_id'].sample(n=1)) for _ in range(players.shape[0])]

In [224]:
df3 = pd.read_csv('source_csv/Football teams.csv', sep=',')
leagues = pd.DataFrame()
leagues['name'] = pd.unique(df3['Tournament'])
leagues['league_id'] = leagues.index

In [225]:
teams = df3[['Team', 'Tournament']]
teams.rename(columns={'Team':'name'}, inplace=True)
teams['team_id'] = teams.index
teams['acronym'] = teams['name'].str.slice(0, 3).str.upper()
teams.drop(columns='Tournament', inplace=True)
teams['country_id'] = [int(countries['country_id'].sample(n=1)) for _ in range(teams.shape[0])]

C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\2137024086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams.rename(columns={'Team':'name'}, inplace=True)
C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\2137024086.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['team_id'] = teams.index
C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\2137024086.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['acronym'] = teams['name'].str.slice(0, 3).str.upper()
C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\2137024086.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams.drop(columns='Tournament', inplace=True)
C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\2137024086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['country_id'] = [int(countries['country_id'].sample(n=1)) for _ in range(teams.shape[0])]

In [226]:
players['team_id'] = [int(teams['team_id'].sample(n=1)) for _ in range(players.shape[0])]

In [227]:
df4 = pd.read_csv('source_csv\stadiums.csv', sep=',')
stadiums = df4[['Name']].sample(n=50)
stadiums['stadium_id'] = stadiums.index
stadiums.rename(columns={'Name':'name'}, inplace=True)
stadiums['country_id'] = [int(countries['country_id'].sample(n=1)) for _ in range(stadiums.shape[0])]

In [228]:
team_plays_in_league = pd.DataFrame()
team_plays_in_league['team_id'] = teams['team_id']
team_plays_in_league['league_id'] = [int(leagues['league_id'].sample(n=1)) for _ in range(team_plays_in_league.shape[0])]
team_plays_in_league

    team_id  league_id
0         0          4
1         1          0
2         2          2
3         3          4
4         4          2
..      ...        ...
93       93          4
94       94          1
95       95          0
96       96          0
97       97          2

[98 rows x 2 columns]

In [229]:
matches = pd.DataFrame()
d3 = datetime.strptime('1/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
d4 = datetime.strptime('11/29/2022 4:50 AM', '%m/%d/%Y %I:%M %p')
matches['match_date'] = [random_date(d1, d2) for _ in range(1000)]
matches['match_id'] = matches.index
matches['stadium_id'] = [int(stadiums['stadium_id'].sample(n=1)) for _ in range(matches.shape[0])]
matches['league_id'] = [int(leagues['league_id'].sample(n=1)) for _ in range(matches.shape[0])]
matches

     match_date  match_id  stadium_id  league_id
0    2009-05-30         0          22          0
1    1999-05-08         1          56          3
2    2001-01-01         2         131          1
3    1981-11-09         3         101          1
4    1998-05-13         4           4          3
..          ...       ...         ...        ...
995  1981-11-07       995          69          4
996  1986-01-31       996         151          2
997  1998-08-26       997          92          2
998  2007-08-19       998          54          3
999  1997-03-06       999          45          2

[1000 rows x 4 columns]

In [230]:
team_plays_in_match = pd.DataFrame(columns = ['team_id', 'match_id', 'goal_amount'])
for match_id in matches['match_id']:
    for team_id in teams['team_id'].sample(n=2).tolist():
        team_plays_in_match = team_plays_in_match.append(pd.DataFrame({'team_id': team_id,
                                                                       'match_id': [match_id],
                                                                       'goal_amount': [RNG.integers(0, 5)]}), ignore_index = True)
team_plays_in_match

C:\Users\dziew\AppData\Local\Temp\ipykernel_12732\166482768.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_plays_in_match = team_plays_in_match.append(pd.DataFrame({'team_id': team_id,

     team_id match_id goal_amount
0         86        0           2
1         15        0           4
2         62        1           1
3         86        1           2
4          9        2           2
...      ...      ...         ...
1995      61      997           4
1996      95      998           1
1997      28      998           2
1998      20      999           4
1999      89      999           3

[2000 rows x 3 columns]

In [231]:
players.to_csv('output_csv/players.csv', index=False)
countries.to_csv('output_csv/countries.csv', index=False)
teams.to_csv('output_csv/teams.csv', index=False)
leagues.to_csv('output_csv/leagues.csv', index=False)
stadiums.to_csv('output_csv/stadiums.csv', index=False)
matches.to_csv('output_csv/matches.csv', index=False)
team_plays_in_league.to_csv('output_csv/team_plays_in_league.csv', index=False)
team_plays_in_match.to_csv('output_csv/team_plays_in_match.csv', index=False)